*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--pillar-count: 4;
	--jump-count: var(--pillar-count) - 1;
	--pillar-color: #51adf3;
	--dollar-color: #ff4455;
	--container-padding: 5%;
	--container-background: #444444;
	--pillar-width: 50px;
	--pillar-margin: 5%;
	--gap-between-pillars: 2rem;
	--jump-translateX: calc(var(--gap-between-pillars) + var(--pillar-width));
}

body {
	margin: 0;
}

.container {
	// width: calc(
	// 	(var(--pillar-count) * var(--pillar-width)) +
	// 		(var(--jump-count) * var(--gap-between-pillars)) +
	// 		(2 * var(--gap-between-pillars))
	// );
	width: calc(5 * 2rem + 4 * 50px);
	height: 450px;
	background: var(--container-background);
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	gap: var(--gap-between-pillars);
}

.pillar {
	width: var(--pillar-width);
	background: var(--pillar-color);
}

.a {
	height: 100px;
}

.b {
	height: 150px;
}

.c {
	height: 200px;
}

.d {
	height: 250px;
}

.dollar-wrapper {
	position: absolute;
	width: 30px;
	height: 30px;
	// border: 1px solid black;
	left: calc(5% + 0.5 * var(--pillar-width));
	bottom: 100px;
	animation: xAxis1 1s linear 0s forwards, xAxis2 1s linear 1.5s forwards,
		xAxis3 1s linear 3s forwards;
}

.dollar {
	font-size: 30px;
	line-height: 1;
	color: var(--dollar-color);
	animation: yAxis1 1s cubic-bezier(0, 2, 1, 4) 0s forwards,
		yAxis2 1s cubic-bezier(0, 2, 1, 4) 1.5s forwards,
		yAxis3 1s cubic-bezier(0, 2, 1, 4) 3s forwards;
}

@keyframes xAxis1 {
	100% {
		transform: translateX(var(--jump-translateX));
	}
}

@keyframes yAxis1 {
	100% {
		transform: translateY(-50px);
	}
}

@keyframes xAxis2 {
	100% {
		transform: translateX(calc(2 * var(--jump-translateX)));
	}
}

@keyframes yAxis2 {
	100% {
		transform: translateY(-100px);
	}
}

@keyframes xAxis3 {
	100% {
		transform: translateX(calc(3 * var(--jump-translateX)));
	}
}

@keyframes yAxis3 {
	100% {
		transform: translateY(-150px);
	}
}
