*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--pillar-count: 4;
	--jump-count: var(--pillar-count) - 1;
	--pillar-color: #51adf3;
	--dollar-color: #ff4455;
	--container-padding: 5%;
	--container-background: #444444;
	--pillar-width: 50px;
	--pillar-margin: 5%;
	--gap-between-pillars: 2rem;
	--jump-translateX: calc(var(--gap-between-pillars) + var(--pillar-width));
}

body {
	margin: 0;
}

.container {
	width: calc(10rem + 200px);
	height: 450px;
	background: var(--container-background);
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	gap: var(--gap-between-pillars);
}

.pillar {
	width: var(--pillar-width);
	background: var(--pillar-color);
}

.a {
	height: 100px;
}

.b {
	height: 150px;
}

.c {
	height: 200px;
}

.d {
	height: 250px;
}

.dollar-wrapper {
	position: absolute;
	width: 30px;
	height: 30px;
	left: calc(5% + 0.5 * var(--pillar-width));
	bottom: 100px;
}

.dollar {
	font-size: 30px;
	line-height: 1;
	color: var(--dollar-color);
}

.dollar-wrapper-anim1 {
	animation: xAxis 2s linear infinite;
}

.dollar-anim1 {
	animation: yAxis 2s cubic-bezier(0, 2, 1, 4) infinite;
}

@keyframes xAxis {
	28.33% {
		transform: translateX(var(--jump-translateX));
	}
	33.33% {
		transform: translateX(var(--jump-translateX));
	}
	61.66% {
		transform: translateX(calc(2 * var(--jump-translateX)));
	}
	66.66% {
		transform: translateX(calc(2 * var(--jump-translateX)));
	}
	95% {
		transform: translateX(calc(3 * var(--jump-translateX)));
	}
	100% {
		transform: translateX(calc(3 * var(--jump-translateX)));
	}
}

@keyframes yAxis {
	28.33% {
		transform: translateY(-50px);
	}
	33.33% {
		transform: translateY(-50px);
	}
	61.66% {
		transform: translateY(-100px);
	}
	66.66% {
		transform: translateY(-100px);
	}
	95% {
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(-150px);
	}
}
